

body {
    margin: 0;
    padding: 5px;
    font-family: 'Lato', sans-serif;
    line-height: 1.45;
    align-items: left;
}

header {
    color: #FFFFFF;
    background-color: #284b63;
    padding: 80px 0;
    text-align: center;
    font-family:'IBM Plex Sans Thai Looped', sans-serif;
}
header h1 {
    font-size: 48px;
    margin: 0 0 16px 0;
}

h2 {
    font-weight: 300;
    font-size: 24px;
    margin: 0 0 5px 0;
}

h5 {
    font-size: 16px;
}

.tel a:link {
    text-decoration: none;
}

.tel a:hover {
    color: blue;
    text-decoration: none;
}

.tel a {
    color: white;
    text-decoration: none;
}

.container {
    margin: 0 auto;
    padding: 0 20px 0 20px;
    max-width: 900px;
}

.profile {
    padding:25px;
    background:white;
    color:#000;
}

.profile h2 {
    font-size: 30px;
    font-weight: 700;
}

.education {
    background: #FFFFFF;
    color: #000000;
    text-align: left;
    padding: 10px 0 0 0;
}
.feature {
    width: 50%;
    font-size:16px;
    text-align: left;
    padding: 5px 0 5px 5px;
}

.sch {
    background-color:#284b63;
    padding: 5px 0 0 0px;
    font-size: 13px;
    width: 90px;
    height: 30px;
    color: white;
    text-align:center;
}

.feature h2 {
    font-weight: 700;
    font-size: 30px;
}

.skilled {
    padding:25px;
    background:white;
    color:#000;
}

.skilled h2 {
    font-size:30px;
    font-weight: 700;
}

.work {
    padding:25px;
    background:white;
    color:#000;
}

.work h2 {
    font-size: 30px;
    font-weight: 700;
    margin: 15px 0 16px 0;
}

.logo {
    margin: 50px;
}

.add {
    padding:25px;
    background:white;
    color:#000;
}

.add h2 {
    margin-bottom: 3;
    font-size: 30px;
    font-weight: 700;
}

footer {
    background: #353535;
    padding: 32px 0;
    text-align: center;
    color: #868686;
    font-size: 12px;
}

footer ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer li {
    display: inline-block;
}

footer li a {
    padding: 6px;
    font-size: 14px;
    text-decoration: none;
    color: #c3c3c3;
}

footer li a:hover {
    color: blue;
}
@media screen and (max-width: 480px) {
    .btn {
            display: block;
            font-size: 18px;
    }
    h1 {
            font-size: 32px;
            margin: 0 0 8px 0;
    }
    h2 {
            font-size: 18px;
    }
    section {
            padding: 25px 0 15px 0;
            
    }
    
}  
